@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.test{
    float: left;
    width: 5%;
    /* background-color: yellow; */
    height: 100vh;
    display: none;

}


.wrapper{
    float: right;
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.4fr 1.5fr 0.15fr;
    grid-template-areas: 
    "nav nav nav nav"
    "aside about_us mission achievement"
    "aside  district_anthem school_anthem school_pledge"
    "footer footer footer footer";
    grid-gap: 0.2rem;
    /* background: linear-gradient(rgba(168, 171, 182, 0.7),rgba(4,9,30,0.7)),url(../img/index/coverimg.JPG); */
    /* background-size: cover; */
    background-color:white;
    

}


nav{
    grid-area: nav;


}

.nav-links{
    height: 80px;
    
}
.nav-links i{
    display: none;
}
nav i{
    display: block;
}

.nav-links ul{
    display: flex;
    justify-content: space-evenly;
   
}

.nav-links ul li{
    float: left;
    list-style: none;

    padding: 15px;
}

.nav-links ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #8e0e1e;
}
.nav-links ul li a:hover{
    border-bottom: 3px solid #888;
    transition: 0.1s;
    width: 40px;
}

aside{

    grid-area: aside;
    text-align: center;
}

.TGPS img{
    width: 180px;
    border-radius: 200px;
}

.principal img{
    width: 200px;
   
    border-radius: 200px;
}

.about_us{
    grid-area: about_us;
}

.mission{
    grid-area: mission;

}

.vision{
    grid-area: vision;

}

.achievement{
    grid-area: achievement;
    
}

.school_anthem{
    grid-area: school_anthem;
    text-align: center;

    
}
.school_pledge{
    grid-area:school_pledge ;
    text-align: center;
}

.district_anthem{
    grid-area: district_anthem;
    text-align: center;
    

  
}

footer{
    grid-area: footer;
    /* background-color: crimson; */
    text-align: center;
}
footer i{
    color: #8e0e1e;
}



@media(max-width:480px){

    .test{
        box-sizing: content-box;
        display: block;
        float: right;
        max-width: 15%;
        width: 300px;
        /* background-color: yellow; */
        height: 100vh;
        z-index:10;
        position: absolute;
    }

    .test i{
        font-size: 25px;
    }
    .test .fa{
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        position: absolute;
        left: 172px;
        z-index: 1;
    }

    #mobilenav{
        transition: 5s;
    }

    #mobilenav .fa{
        position: fixed;
        left: 120px;
    }


    .test nav{
        position: fixed;
        display: none;
        height: 100vh;
        
    }

    .test nav ul{
        position: fixed;
        background-color: #8e0e1e;
        opacity: 0.8;
        width: 200px;
        height: 100vh;
        left: -50px;
       
     
    }

    .test nav ul li {
        list-style: none;
        background: #8e0e1e;
        padding: 30px;
        /* height: 100%; */
       
    }

    .test nav ul li a {
        color: black;
        font-weight: bolder;
        text-decoration: none;
    }

    .test nav ul li:hover{
        background: whitesmoke;
    }
    
    
    .wrapper{
       
        padding-top: 25px;
        float: right;
        max-width: 95%;
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 1.4fr 1.5fr 0.15fr;
        grid-template-areas: 
        "nav nav nav nav"
        "aside about_us mission achievement"
        "aside  district_anthem school_anthem school_pledge"
        "footer footer footer footer";
        grid-gap: 0.2rem;
        /* background: linear-gradient(rgba(168, 171, 182, 0.7),rgba(4,9,30,0.7)),url(../img/index/coverimg.JPG); */
        /* background-size: cover; */
        background-color:white;
        
    
    }

    .nav-links{
        height: 80px;
        background-color: #8e0e1e;
        display: none;
    }

        
   


    
}
@media(max-width:360px){
    body{
        width: 100%;
    }
    .wrapper{
    
        /* grid-template-columns: 1fr; */
        grid-template-columns: minmax(0,1fr);
        grid-template-rows: 0.3fr 1.4fr 1.5fr 0.2fr;
        grid-template-areas: 
        "nav"
        "aside "
        "about_us"
        " mission"
        "achievement"
        " district_anthem"
        " school_anthem"
        "school_pledge"
        "footer";
        grid-gap: 0.2rem;
        height: 177vh;
        text-align: center;
        width: 100%;
        
       
    }

    

    
    .nav-links ul li {
        display: block;
        text-align: center;
    }

    .nav-links {
        position: absolute;
        /* background-color: #b11226; */
        /* background-color: #800000; */
        /* background:  linear-gradient(rgba(168, 171, 182, 0.7),rgba(4,9,30,0.7)), url(./img/success.png); */
        /* background: url(../img/index/success.PNG); */
        background-position:50%;
        background: linear-gradient(white,darkred);

        /* backdrop-filter: ; */
        background-repeat: no-repeat;
        background-size: 70vh;
        height: 100%;
        width: 200px;
        top: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;

        /* to hide the menu say right = -200px or something extreme end make it the equivalent of the initial width  */
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1.5s;
    }
    .nav-links ul li:hover{
        background-color: grey;
        opacity: 0.7;
        border-radius: 5px;
        text-align: center;
    }
    .nav-links ul li:hover::after{
        content: " ";
        width: 100%;
        border: 2px solid red;
        background-color: #f44336;
        display: none;
        margin: auto;
        height: 2px;
        transition: 0.5s;
    }
    
    nav .fa{
        display: block;
        color: black;
        margin: 10px;
        font-size: 12px;
        cursor: pointer;
        position:absolute;
        right: 20px;

    }


   
    .nav-links .fa{
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 10px;
    }

    .text-box h1{
        font-size: 20px;
    }

   .fa fa-times{
        color:#8e0e1e;
   }
}

@media (max-width:192px){
    body{
        width: 100%;
    }
    .wrapper{
    
        /* grid-template-columns: 1fr; */
        grid-template-columns: minmax(0,1fr);
        grid-template-rows: 0.3fr 1.4fr 1.5fr 0.2fr;
        grid-template-areas: 
        "nav"
        "aside "
        "about_us"
        " mission"
        "achievement"
        " district_anthem"
        " school_anthem"
        "footer";
        grid-gap: 0.2rem;
        height: 1400vh;
        text-align: center;
     
    }

}


@media (max-width:1114px){
    body{
        width: 100%;
    }
    .wrapper{
    
        /* grid-template-columns: 1fr; */
        grid-template-columns: minmax(0,1fr);
        grid-template-rows: 0.3fr 1.4fr 1.5fr 0.2fr;
        grid-template-areas: 
        "nav"
        "aside "
        "about_us"
        " mission"
        "achievement"
        " district_anthem"
        " school_anthem"
         "school_pledge"
        "footer";
        grid-gap: 0.2rem;
        height: 220vh;
        text-align: center;
        width: 100%;
        
       
    }
     
}


