@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
    
}


body{
    background: url(./coverimg.JPG);
    background-size:cover;
    height: 110vh;
    align-items: center;
    justify-content: center;
   
   
}

input{
    width: 300px;
    height: 24px;
    border:20px;
    /* display: flex;
    flex-wrap: wrap; */
    
}
.container{
    font-size: larger;
    height:935px;
    width: 750px;
    background:rgb(223, 196, 196);
      margin:  30px;
      padding: 28px;
      border-radius: 10px;
      box-shadow:inset  -2px 2px 2px 2px white ;
      display:grid;
}
.form-title{
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600px;
    text-align: center;
    margin-top: 30px;
    text-shadow: 2px 2px  2px darkred;
  
}
.user{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    margin-top: 20px;

}
.input-box{
    display: flex;
    flex-wrap:wrap ;
    width: 35%;  
    margin-top: 40px;  
}

.you{
    color: darkred;
    font-size:17px;
    font-weight: bolder;
    flex-wrap: wrap;
    bottom: 20px;
}
.app{
    color:darkred;
    font-size:17px;
    font-weight: bolder;
}
@keyframes add{
    from{
        transform: translateX(-800px);
        color:brown;
    }
    to{
        transform: translateX(900px);
        color:darkred;
    }

}
#sent{
    height: 30px;
    position:relative ;
    width: 70px;
    display: grid;
    top: 30px;
    left: 15px;
}
#select{
    margin-left: 130px;
}
#shift{
    margin-left: 170px;
}

#app{
    outline: none;
    border-bottom: 2px solid black;
    resize: none;
    margin-top: 40px;
    background:none;
    
}
.app span {
    margin-top:15px;
}
 #you{
    background:none;
    border-radius: 10px;
    margin-top: 5px;
    height:30px;
    border-top:1.5px solid black;
    border-left: 1.5px solid black;
    border-bottom:1.5px solid black ;
    border-right: 1.5px solid black;
    outline: none;
   
    display: flex;
    flex-wrap: wrap;
 } 

 .app:hover ~ span{
    background-color: darkred;
    transition: 2s;
    transform: rotate(100deg);
 }
#dob{
    border-radius:7px ;
    font-size: 16px;
    background-color:whitesmoke ;
    border-top:1.5px solid black;
    border-bottom:1.5px solid black ;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
    height:30px;
    outline: none;
    margin-top: 13px;
}
.date{
    margin-top: 15px;
}


.dob{
    font-weight:bolder;
    color:darkred;
    margin-top: -30px;
}

#gender{
    color: darkred;
    font-weight: bolder;
    margin-top: 25px;
    margin-left: 180px;
}
#prime{
    margin-top: 5%;
}
.adme{
    font-size: 12px;
    text-align: center;
    position: relative;
    bottom:40px
}
#mom{
    margin-top: 27px;
}
#idk{
    color: darkred;
    font-weight:bold;
}
.i{
    margin-left: 15px;
    margin-top: 30px;
    height: 20px;
    font-weight: bold;
    outline: none;
    border: 1.5px solid black;
    color: darkred;
    border-radius:7px ;
    font-size: 16px;
    background-color:whitesmoke ;
    border-top:1.5px solid black;
    border-bottom:1.5px solid black ;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
    height:25px;
    outline: none;
}
::placeholder{
    font-weight: bolder;
    color: black;
}
.sub{
    text-align: center;
    display: flex;
}
.reset{
    height:65px;
    width: 65%;
    margin-top: 0px;
    margin-left: 100px;
    background-color:brown;
    color: whitesmoke;
    font-size:larger ;
    font-weight: bolder;
}
.submit{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 65px;
    width:65%;
    background-color:brown;
    color: whitesmoke;
    font-weight: bolder;
    font-size: larger;
}
#arrow{
    position: relative;
    right:200px ;
    top: 38px;
    font-weight: bolder;
    font-size:25px;
    color: black;
}
option{
    outline: none;
    color:darkred;
    font-weight: bold;
    border-radius: 7px;
}
select{
    font-weight: bold;
    background-color: darkred;
    border-radius: 7px;
}
#sent{
    background-image: url(./emma.pnj);
    color: darkred;
    border-radius:7px ;
    font-size: 16px;
    background-color:whitesmoke ;
    border-top:1.5px solid black;
    border-bottom:1.5px solid black ;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
    height:25px;
    outline: none;
}
.start{
    width: 150px;
    color: white;
    height: 30px;
    font-size:14px;
    text-transform: uppercase;
    margin-top: 40px;
}
.sat{
    width: 150px;
    color: white;
    height: 30px;
    font-size:14px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left:-30px;
}
#again{
    color: white;
    justify-content: space-between;
}

.value{
    color: white;
}
/* for smartphones  */
@media(max-width:600px){
    body{
        height: 110vh;
        width: 100%;
    }
    .container{
        max-width: 320px;
        max-height: 650px;
    }
    .input-box{
        margin-bottom: 12px;
        width: 60%;
        justify-content: space-between;
        margin-top: 20px;
    }
    .user{
        max-height: 470px;
        overflow: auto;
        justify-content: space-between;
    }
    #select{
        margin-left: 0px;
    }
    #shift{
        margin-left: 0px;
    }
    #gender{
        margin-left: 0px;
    }
    
    .user::-webkit-scrollbar-button{
          width:0;
    }
    .reset{
        height:50px;
        width: 150%;
        margin-top: 15px;
        margin-left: 100px;        
        background-color:brown;
        color: whitesmoke;
        font-size:larger ;
        font-weight: bolder;
    }
    .submit{
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 50px;
        width:80%;
        margin-top: 15px;
        background-color:brown;
        color: whitesmoke;
        font-weight: bolder;
        font-size: larger;
    }
}
