:root{
    --school-color:#8e0e1e;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
button{
    color: white;
    background-color:rgb(177,0,37);
    outline: none;
    height: 40px;
    font-size: x-large;
    text-transform: uppercase;
    outline: 0;
}
.head{
    height: 120px;
    background-color:red;
    font-size: 70px;
    color: white;
    text-transform: uppercase;
}
.image{
    background: url(../img/admission2/IMG_2842.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 0px;

}
.image h3{
    font-size: 70px;
}
.image .text{
    font-size: 35px;
    display: flex;
    /* flex-direction: column; */
    padding: 20px;
}
span{
    background-color: rgb(177,0,37);
    font-size: large;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    margin: auto;
    padding: 20px;
    
}
span a{
    text-decoration: none;
    color: white;
}
.second{
    text-align: center;
}
.talk1{
    
    padding: 30px;
}
.talk2{
    
    padding: 30px;
}
.talk3{
    padding: 30px;
}
.talk4{
    padding: 30px;
}
.talk5{
    padding: 30px;
}
.talk6{
    padding: 30px;
}
.talk-half{
    padding: 30px;
}
img{
    width: 100%;
    
}
@media (max-width:580px){
    .text{
       
    }
    .image h3{
        font-size:50px;
    }
    .image{
        background-position:center;
        width: 100%;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    img{
        padding:0px ;
        margin: 0px;
    }
}

