@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

html{
    /* font-size: 62.5%; */
    font-family: 'Montserrat', sans-serif;
    
}
body{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}

nav {
    /* width: 100%;
    height: 80px; */
    /* background-color: white; */
    /* opacity: 0.8; */
    display: flex;
    padding: 2% 6%;
    justify-content: space-around;
    align-items: center;
    background-color: white;

    height: 10vh;

    opacity: 1;

    
}

nav .base {
    display:none;
}


.header i{
    display: none;
}


.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #8e0e1e;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bolder;
}



.nav-links ul li::after{
    content: " ";
    width: 0%;
    border: 2px solid blue;
    display: none;
    margin: auto;
    height: 2px;
    transition: 0.5s;
    background-color: #222;

}

.nav-links ul li:hover::after{
    content: " ";
    width: 100%;
    border: 2px solid var(--school-color);
    background-color: var(--school-color);
    display: block;
    margin: auto;
    height: 2px;
    transition: 0.5s;
}





.contact{
    background-image: linear-gradient(rgba(168, 171, 182, 0.7),rgba(4,9,30,0.7)), url(../img/admission2/IMG_2849.JPG); 
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: -6px; */
   margin-left: -100px;
    


}

.contact .content{
    max-width: 800px;
    text-align: center;

}

.contact .content h1{

    font-size: 50px;
    font-weight: 500;
    color: #8e0e1e;
    text-transform: uppercase;


}
.contact .content p {
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
    word-spacing: 5px;
    letter-spacing: 2px;
    
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}

.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactinfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactinfo .box .icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    font-size: 22px;


}

.container .contactinfo .box .text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;


}
.container .contactinfo .box .text h3{
    font-weight: 500;
    color: #8e0e1e;
}

.contactform{
    width: 40%;
    padding: 40px;
    background-color: whitesmoke;

    border-radius: 20px;
    opacity: 0.65;
}

.contactform h2{
    font-size: 30px;
    color: #8e0e1e;
    font-weight: 500;
    
}

.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}

.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;


}

.contactform .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactform .inputbox input:focus ~ span, 
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span, 
.contactform .inputbox textarea:valid ~ span {
    color: #8e0e1e;
    font-size: 12px;
    transform: translateY(-20px);
}

.inputbox{
    display: flex;
    justify-content: center;
}


.contactform .inputbox input[type="submit"]{
    width: 100px;
    background: #8e0e1e;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
   
 
}

.contactform .inputbox input[type="submit"]:hover{
    background-color: #fff;
    border: 5px solid #8e0e1e;
}

textarea{
    min-height: 150px;
}




@media (max-width:900px){
    

    .container {
    
        display: flex;
        flex-direction: column;
    
        
    }


}



/* for smartphones */
@media only screen and  (min-width:320px) and (max-width: 480px){

    

    html,body{
        width: 100vw;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    body{
        font-family: 'Montserrat', sans-serif;
        width: 100vw;
        /* height: 400vh; */
        position: relative;
        background: white;
       
    
        
        
    }

    .header{
        background: yellow;
    }

        
    nav {
        /* width: 100%;
        height: 80px; */
        /* background-color: white; */
        /* opacity: 0.8; */
        display: block;
        padding-left:10px;
        padding-right: 10px;
        height: 100%;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 8vh;
        z-index: 5;
    


    

        
    }


    nav .base {
        background: white;
        width: 95%;
        display: flex;
        background-color: white;
        /* outline: 5px var(--school-color); */
        opacity: 1;
        z-index: 2;
        /* outline: 2px solid var(--school-color); */

    
        
    }

    nav .base .icons{
        float: left;
        width: 20%;
        height: 100%;
        background: white;
    
        
        
        
    }

    nav .base .icons .fa{
        font-size: 30px;
        padding-top: 10px;
        color: var(--school-color);

        
    }

   

    nav .base .icons #cancel{
        display: none;
        font-size: 30px;


        /* transform: translateY(-22px); */
    }

    nav .base .firstlogo{
        float: right;
        display: flex;
        width: 80%;
        justify-content: end;
        height: 100%;
        background: white;
    
    }

    nav .base .firstlogo img{
        width: 50px;
        
    
    }
    
    


    .header i{
        display: block;
    }


    .nav-links{
        flex: 1;
        /* text-align: center; */
        background-color: pink;
        padding: 0;
        
    }

    .nav-links ul{
        position: fixed;
        top: 10vh;
        left: -225px;
        background: white;
        height: 90%;
        width: 50%;
        text-align: center;
        height: 100vh;
        /* transform: translateX(-200px); */
        /* transition: .5s; */
        opacity: 1;
        
    }

    .nav-links ul li{
        list-style: none;
        display: block;
        padding: 20px;
        
    }

    .nav-links ul li a {
        color: #8e0e1e;
        text-decoration: none;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bolder;
        display: block;
    }

    .nav-links ul li:hover{
        background-color: var(--school-color);
        color: white;
    }

    .nav-links ul li:hover a{

        color: white;
    }
    .nav-links ul li:focus a{
        background: var(--school-color);
        color: white;
    }

    .nav-links ul li:hover a{
        color: white;
    }



    .nav-links ul li::after{
        content: " ";
        width: 0%;
        border: 2px solid blue;
        display: none;
        margin: auto;
        height: 2px;
        transition: 0.5s;
        background-color: #222;
        display: none;

    }

    .nav-links ul li:hover::after{
        content: " ";
        width: 100%;
        border: 2px solid grey;
        background-color: grey;
        display: none;
        margin: auto;
        height: 2px;
        transition: 0.5s;
        display: none;
    }







    .text-box h1{
        font-size: 20px;
    }


    
    .contact{
        
        width: 55vw;
        margin: auto;
        height: 130vh;
        display: flex;
    }

    .contact .content{
        
        width: 370px;
        /* background: yellow;  */
        margin-top: 90px;
        text-align: center;
        width: 90vw;

    }

    .contact .content h1{

        padding: 0;
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;


    }
    .contact .content p {
        font-weight: 300;
        color: #fff;
        text-transform: capitalize;
        word-spacing: 5px;
        letter-spacing: 2px;
        font-size: 12px;
        
    }



    .container {
        width: 370px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }

    .container .contactinfo{
        width: 350px;
        display: flex;
        flex-direction: row;
    
    
        justify-content: space-around;
        
    
    }

    .container .contactinfo .box {
        float: left;
        width: 31%;
        display: flex;
        flex-direction: column;
        
        text-align: center;
        align-items:flex-start;
        height: 100px;
    }

    .container .contactinfo .box .icon {
        width: 20px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 18px;
        background-color: white;
        margin: auto;
        margin-top: -30px;
        color: black;


    }

    .container .contactinfo .box .text{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        


    }
    .container .contactinfo .box .text h3{
        font-weight: 500;
        color: #8e0e1e;
        display: none;
    }
    .container .contactinfo .box .text p{
    font-size: 10px;
    background-color: transparent;
    width: 100px;
    height: 30px;
    margin-left: -20px;
    word-wrap: break-word;
    }

    .contactform{
        width:70%;
        margin: auto;
        padding: 40px;
        background-color: #fff;
        margin-bottom: 50px;
        border-radius: 20px;
    }

    .contactform h2{
        font-size: 30px;
        color: #333;
        font-weight: 500;
        
    }

    .contactform .inputbox{
        position: relative;
        width: 100%;
        margin-top: 10px;

    }

    .contactform .inputbox input,
    .contactform .inputbox textarea{
        width: 100%;
        padding: 5px 0;
        font-size: 16px;
        margin: 10px 0;
        border: none;
        border-bottom: 2px solid #333;
        outline: none;
        resize: none;


    }

    .contactform .inputbox span {
        position: absolute;
        left: 0;
        padding: 5px 0;
        font-size: 16px;
        margin: 10px 0;
        pointer-events: none;
        transition: 0.5s;
        color: #666;
    }

    .contactform .inputbox input:focus ~ span, 
    .contactform .inputbox input:valid ~ span,
    .contactform .inputbox textarea:focus ~ span, 
    .contactform .inputbox textarea:valid ~ span {
        color: #8e0e1e;
        font-size: 12px;
        transform: translateY(-20px);
    }

    .inputbox{
        display: flex;
        justify-content: center;
    }


    .contactform .inputbox input[type="submit"]{
        width: 100px;
        background: #8e0e1e;
        border: none;
        cursor: pointer;
        padding: 10px;
        font-size: 18px;
    
    
    }

    textarea{
        min-height: 150px;
    }
}




    /* for monile phones */



/* for tablet */




@media (min-width: 451px) and (max-width: 700px){
   
    .school_logo{
        display: flex;
        justify-content: center;
       
    }

    .school_logo img{
        width: 100px;

    }
    
    .text-box h1{
        font-size: 20px;
    }

   .fa fa-times{
        color:#8e0e1e;
   }


    




    main h2{
        font-size: 15px;
        margin-bottom: 20%;
    }

    .btn-explore{
        margin-bottom: 10%;
    }

    .btn-explore:hover{
        display: none;
        /* width: 350px;
        padding: 20px;
        margin: auto;
        font-size: 20px;
        font-weight: bolder;
        border-radius: 12px;
        color: black;
        /* background: linear-gradient(to right rgb(3, 17, 22), lightgrey); */
        /* background: linear-gradient(lightgrey,#8e0e1e);
        border: 2px solid grey;
        cursor: pointer;
        transition: 1.5s; */
    } */

    #exploremenu{
        display: none;
        justify-content: center;
        
     
        
     }
     
     #exploremenu ul{
        margin-top: 5%;
        width: 75%;
        box-shadow: none;
        
        /* float: left; */
        display: flex;
        flex-direction: column;
        border: none;
        
         
     }
     
     
     #exploremenu ul li{
        
        list-style: none;
        /* border: 2px solid yellowgreen; */
        width: 95%;
        /* padding: 30px; */
        line-height: 1px;
        text-align: center;
        display: block;
        cursor: pointer;
        
        
     
         
     }
     
     #exploremenu ul li:hover{
         /* background-color: linear-gradient(to right, #00093c, #2d0b00); */
         transition: 2s;
         background-color: #8e0e1e;
         
     }
     
     #exploremenu ul li a {
        padding-bottom: 5px;
         color: #2d0b00;
         text-decoration: none;
         font-size: 20px;
         text-transform: uppercase;
         font-weight: bold;
     
     }
     
     #exploremenu ul li a i {
         color: #2d0b00;}
     
     
     
    
}


/* for smartphones in landscape mode and small tablets  */

@media only screen and (min-width:481px) and (max-width:930px){
    nav {
        /* width: 100%;
        height: 80px; */
        /* background-color: white; */
        /* opacity: 0.8; */
        display: flex;

        justify-content: center;
        align-items: center;
        background-color: yellow;
        min-width: 100vw;
        height: 10vh;
        padding: 0;
        opacity: 1;
    
        
    }
    
    nav .base {
        display:none;
    }
    
    
    .header i{
        display: none;
    }
    
    
    .nav-links{
        flex: 1;
        text-align: center;
        background: white;
        width: 100vw;
        height: 100%;
    }

    .nav-links ul{
        width: 100%;
        height: 100%;

        padding: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 0;
        position: relative;
        line-height: 20px;
    }
    
    .nav-links ul li a {
        color: #8e0e1e;
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bolder;
    }
    
    
    
    .nav-links ul li::after{
        content: " ";
        width: 0%;
        border: 2px solid blue;
        display: none;
        margin: auto;
        height: 1px;
        transition: 0.5s;
        background-color: #222;
    
    }
    
    .nav-links ul li:hover::after{
        content: " ";
        width: 100%;
        border: 2px solid var(--school-color);
        background-color: var(--school-color);
        display: block;
        margin: auto;
        height: 1px;
        transition: 0.5s;
    }


    footer{
      
        height:70vh;
        text-align: center;
        width: 100%;
        /* background: linear-gradient(to right, #00093c , #2d0b00); */
        /* background: linear-gradient(to right, #8e0e1e,#00093c ); */
        /* background-color: yellow; */
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 200px; 
        font-size: 13px;
        line-height: 20px;
        border: 2px solid var(--school-color);
        /* outline: #8e0e1e; */
        border-bottom: none;
        /* background-color: #8e0e1e; */
        /* opacity: 0.5; */
        /* background: yellow; */
        /* border-radius: 200px; */
        background: whitesmoke;
        background: white;
        /* outline: 5px solid var(--school-color); */
        
    }
    
    footer .row{
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        color: black;
    }
    
    footer .col{
        flex-basis: 25%;
        padding: 10px;
        text-align: left;
        
    }
    
    footer .col:nth-child(1){
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* border: 5px solid red; */
        /* text-align: center; */
    }
    
    footer .col:nth-child(2), .col:nth-child(3){
        flex-basis: 15%;
    }
    
    footer .col h3{
        width: fit-content;
        margin-bottom: 40px;
        position: relative;
    }
    
    footer .school_logo{
        width: 80px;
        margin-bottom: 30px;
    }
    
    footer .email-id{
        width: fit-content;
        border-bottom: 1px solid #ccc;
        margin: 20px 0;
    }
    
    footer ul li{
        list-style: none;
        margin-bottom: 12px;
    }
    
    footer ul li a {
        text-decoration: none;
        color: black
    }
    
    footer form{
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
    }
    
    footer form .far{
        font-size: 18px;
        margin-right: 10px;
    }
    
    footer form input{
        width: 100%;
        background: transparent;
        border: 0;
        outline: none;
    }
    
    
    footer form button{
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
    
       
    }
    
    
    
    footer form button .fa fa-arrow-right{
        font-size: 160px;
    
    }
    .col .fas {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        color: white;
        background: #8e0e1e;
        margin-right: 10px;
        cursor: pointer;
    
    }
    
    footer .social-icons .fa-brands{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        font-size: 10px;
        color: white;
        background: #8e0e1e;
        margin-right: 5px;
        cursor: pointer;
    }
    
    footer hr{
        width: 90%;
        border: 0;
        border-bottom: 1px solid #ccc;
        margin: 20px auto;
    }
    
    footer .copyright{
        border: 0;
        border-bottom: 1px solid #ccc;
        /* margin: 20px auto; */
        text-align: center;
        color: black;
        
    }
    
    footer .underline{
        width: 100%;
        height: 5px;
        background: #767676;
        border-radius: 3px ;
        position: absolute;
        top: 25px;
        left: 0;
        overflow: hidden;
    }
    
    
    footer .underline span{
        width: 15px;
        height: 100%;
        background: #8e0e1e;
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 10px;
        animation: progress 2s linear infinite;
    }






}
