*{
    padding: 0;
    margin: 0;
    
}




header nav{
    height: 100px;
    background-color: whitesmoke;
    text-align: center;
}


main .image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
    animation: animate alternate-reverse 30s forwards infinite running ease-in-out; 
    display: flex;
    align-items: center;
    padding: 40px;
    
    
  
  
}

main .image .text{
    color: white;
   
}
main .image .text h1{
    font-size: 70px;
    text-transform: capitalize;
}
main .image .text p{
    text-transform: capitalize;
    font-size: large;
    text-indent: 20px;
}
.heading{
    height: 450px;
    border: 5px solid red;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    width: 95%;
    margin: auto;
    
}
.heading h1{
    text-transform: uppercase;
    font-size: 50px;
    font-family: monospace;
    margin-top: 90px;
}
.heading p{
    text-transform: capitalize;
    font-size: 30px;
    padding: 50px;
    margin-top: -40px;
}


.content .boxes{
    background-color: grey;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    width: 98%;
    margin: auto;
    margin-top: 10px;
}

.content .boxes .box{
    height: 350px;
    width: 290px;
    background-color: azure;
    text-align: center;
    padding: 3px;
    border: 2px solid;
    border-radius: 25px;
}
.content .boxes .box:nth-child(1):hover{
    transform: scale(1.1);
    transition: 1s;

}

.content .boxes .box:nth-child(2):hover{
    transform: scale(1.1);
    transition: 1s;

}

.content .boxes .box:nth-child(3):hover{
    transform: scale(1.1);
    transition: 1s;

}

.content .boxes .box:nth-child(4):hover{
    transform: scale(1.1);
    transition: 1s;

}
.content .boxes .box .text{
    font-weight: bolder;
    font-size: 25px;
}
.content .boxes .icon{
    background-color: red;
    height: 90px;
    width: 90px;
    border-radius: 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    

}
.content .boxes .box i{
    color: white;
}
.content .boxes .box .img {
    background: url(./img/index/banner.PNG);
    background-repeat: no-repeat;
    background-position: center;
    height: 230px;
    width: 95%;
    border: 1px solid;
    margin: auto;
    border-radius: 25px;
    
    
    
}


@keyframes animate{
    0%{
        background-image: url(./img/index/coverimg.JPG);
    }
    10%{
        background-image: url(./img/staff/5b7b532a-d0c7-4c9e-80d7-a1d2717904c7.jpg);
    }
    20%{
        background-image: url(./img/contact/vtech.JPG);
    }
    30%{
        background-image: url(./img/index/banner.PNG);
    }
    40%{
        background-image: url(./img/facilities/ict/ictfrontview.JPG);
    }
    50%{
        background-image: url(./img/index/success2.PNG);
    }
    60%{
        background-image: url(./img/index/testlogo.jpg);
    }
    70%{
        background-image: url(./img/staff/mrs_\ vitalis.jpg);
    }
    80%{
        background-image: url(./img/index/IMG_1086.JPG);
    }
    90%{
        background-image: url(./img/staff/mr_\ onibeju.jpg);
    }
    100%{
        background-image: url(./img/facilities/ict/charlesdanielpc.JPG);
    }
}


footer{
    background-color: whitesmoke;
    height: 250px;
    width: 100%;
    bottom: 0px;
    text-align: center;
    
}