*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  

main header {
    width: 100%;
    height: 600px;
    background:  linear-gradient(rgba(168, 171, 182, 0.5),rgba(4,9,30,0.5)),url(../img/facilities/ict/ictfrontview.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    color: white;
    flex-direction: column;
    text-transform: capitalize;
    position: relative;
}

main header .intro{
    background-color: transparent;
    position: absolute;
    width: 50%;
    bottom: 0;
    padding: 50px;
    right: 0;
    
}

main header .intro a{
    padding: 10px;
    text-decoration: none;
    color: white;
    text-shadow: slategray
}

main .content{
    background-color: red;
    padding: 30px;
    text-align: justify;
}

.mySlides {display:none;}
