@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
    
}


body{
    /* background:linear-gradient(green,lightgray) ; */
    display: flex;
    flex-direction: column;
}




.intro {
    /* background-color: yellow; */
    height: 15vh;
    text-align: center;
    width: 70%;
    margin: auto;
    
}

.container{
   height: 110vh;
   /* max-height: 900px; */
   display: grid;
   padding: 30px;
   /* background: green; */
  

   
} 
#first{
    height: 120vh;
}
#second{
    
}
#third{
    height: 290vh;
    
    
    
}
#four{
    height: 100vh;
}
.head{
    text-align: center;
    text-decoration: underline;
}

.container .oga_officers{
    text-align: center;
    background-color: #f5f5f5;
}

.container .header{
    padding-top: 30px;
    color: #444;
    font-size: 20px;
    margin:auto;
    line-height: 50px;

}



.container .oga_officers img{
    width: 150px;
    border-radius: 50%;
   
}

.container .sub_container{
    max-width: 1200px;
    margin: auto;
    padding: 60px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.container .sub_container .teams{
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}

.container .sub_container .teams:hover{
    background-color: #ddd;
    border-radius: 12px;
}


.teams img{
    width: 150px;
    height: 150px;

}

.teams .name{
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.teams .role{
    font-style: italic;
    color: #888;

}
.intro{
    padding: 50px;
}

.teams .about{
    margin: 20px 0;
    font-weight: lighter;
    color: #4e4e4e;
}

.teams .smpages{
    margin: 0px;
}

.smpages a{
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .4s;
}
.smpages a:hover{
    transform: scale(3.0);
}

.smpages a i{
    color: #444;
}

.restofstaff {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restofstaff .talk{
    /* padding-top: 30px;
    color: #444;
    font-size: 20px;
    margin:auto;
    line-height: 50px; */
    /* background-color: yellow; */
    height: 25vh;
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 30px;
    top: -200px;
}

.restofstaff .talk h1{
    text-decoration: underline;
}
.talk{
    top: -200px;
}


.restofstaff .staff_members{
    padding: 60px 0;
    height: 60vh;
    background-color: whitesmoke;
    display: grid;
    width: 90%;
    grid-gap: 0.1em;
    grid-template-columns: repeat(5, 1fr); 
    overflow: auto;
    margin: auto
    
    
    /* grid-template-columns: repeat(auto-fit, minmax(30px, 1fr)); */
  
    
}



.container .staff_members ,div a .img{
    width: 50px;
}

.staff_members img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    /* height: 10px; */
}

.placeholder{
    width: 100%;
    text-align: center;
    height: 30vh;
    /* border-bottom: 2px solid #8e0e1e; */
    
    background: whitesmoke;
    margin: auto;
    padding: 60px 0;
}
#staff img{
    border-radius: 50%;
    
}
#staff a:hover{
    transform: scale(3.0);


}
#staff{
    margin: auto;
}




@media screen and (max-width:600px){
    
    
    .nav-links{
        display: block;
    }
    .teams{
        max-width: 100%;
    }
    .talk{
        margin-top:60px;
    }
    .intro{
        height:50vh ;
    }

    
    .container{
        height: 400vh;
        margin-top: -200px;
        
       
    }
    .container .sub_container{
        max-width: 1200px;
        margin: auto;
        padding: 5px 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        
       
    }

    .container .sub_container .teams{
        margin: 10px;
        padding: 5px;
        max-width: 100%;
        cursor: pointer;
        transition: 0.4s;
        box-sizing: border-box;
    }

    .restofstaff .staff_members{
        padding: 60px 0;
        height: 60vh;
        background-color: whitesmoke;
        display: grid;
        width: 90%;
        grid-gap: 0.1em;
        grid-template-columns: repeat(3, 1fr); 
        overflow: auto;
        margin: auto
        
        
        /* grid-template-columns: repeat(auto-fit, minmax(30px, 1fr)); */
      
        
    }
    .staff_members img{
        width: 100px;
        height: 100px;
        border-radius: 20px;
        /* height: 10px; */
    }
    .restofstaff .talk{
        margin-top: 210px;
    }
    .container .oga_officers{
        margin-top: 60px;
    }

    
}
@media only screen and (max-width:320px){
    .container{
        height: 280vh;
        
        /* max-height: 900px; */
        display: grid;
        padding: 30px;
        /* background: green; */
       
     
        
     }
    #first{
        height: 400vh;
    } 
    #second{
        height: 800vh;
    }
    #third{
        height: 2000vh;
    }
    #four{
        height: 500vh;
    }
    .intro .talk{
        top: -42px;
    }
    .container .oga_officers{
        top: 500px;
       
    }
    .staff_members{
        top: 200px;
    }
    .intro{
        height: 70vh;
    }

}

@media (max-width:428px){
    
    .container .oga_officers .header{
        background-color: white;
    }
    .container{
        height: 5000vh;
       
        /* max-height: 900px; */
        display: grid;
        padding: 30px;
        /* background: green; */
       
     
        
     } 
     #first{
        height: 300vh;
        
     }
    #third{
       height: 1500vh;
    }
    #four{
        height: 300vh;
    }
    

    
    .container .oga_officers{
        margin-top: 200px;
       
    }
    .staff_members{
        top: 200px;
    }
}   
    
