/* @import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,500;0,600;1,400&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

*{
    margin: 0;
    padding: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Montserrat', sans-serif;
    height: 300vh;
    width: 100%;
    text-align: center;
    
    
}

nav {
    /* width: 100%;
    height: 80px; */
    /* background-color: white; */
    /* opacity: 0.8; */
    display: flex;
    padding: 2% 6%;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    height: 10vh;
    opacity: 1;
    
}


.header i{
    display: none;
}


.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #8e0e1e;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}



.nav-links ul li::after{
    content: " ";
    width: 0%;
    border: 2px solid blue;
    display: none;
    margin: auto;
    height: 2px;
    transition: 0.5s;
    background-color: #222;

}

.nav-links ul li:hover::after{
    content: " ";
    width: 100%;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    display: block;
    margin: auto;
    height: 2px;
    transition: 0.5s;
}

.school_logo{
    display: flex;
    justify-content: center;
}

main{
    height: 85vh;
    background-image: linear-gradient(rgba(168, 171, 182, 0.5),rgba(4,9,30,0.5)), url(../img/index/coverimage.JPG); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

main .school_logo{
    height: 65%;
    
}


main .school_logo img{
    width: 300px;
    height: 300px;
}

main .text{
    padding: 20px;
    text-transform: uppercase;
    color: white;

}

main .text h1{
    font-size: 3rem;
}

main .text h2{
    font-size: 2rem;
    text-transform: capitalize;
}

main .text p{
    text-transform: capitalize;
    font-size: 1.5rem;
}


 .intro{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5rem;

}

.intro .top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.intro .top .image{
    height: 100%;
}

.intro .top .image img{
    width: 76%;
    border-radius: 30px;
    padding: 20px;
}

.intro .top .welcome{

    height: 100%;
    /* padding: 50px; */
    padding: 55px;
}



.intro .top .welcome .anchor{
    padding: 50px;
}


.intro .top .welcome a {
    width: 100px;
    padding: 20px;
    background-color: #8e0e1e;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.intro .bottom{
   background: whitesmoke;
   display: flex;
   justify-content: space-around;
   padding: 40px;
}

.intro .bottom .box{
    max-width: 250px;
    max-height: 75%;
    border: 2px solid black;
    text-align: center;
    padding: 20px;
    
}



#box1 h1, #box2 h1, #box3 h1, #box4 h1{
    color: #8e0e1e;
    font-size: 2.5em;
    font-weight: bolder;
}

#box1 h2, #box2 h2, #box3 h2, #box4 h2{
    color: #8e0e1e;
    font-size: 1.5em;
    font-weight: bolder;
    padding: 10px;
   
}



.intro .bottom .box:nth-child(1){
    border: 3px solid orange;

}
.intro .bottom .box:nth-child(2){
    border: 3px solid green;

}
.intro .bottom .box:nth-child(3){
    border: 3px solid blue;

}
.intro .bottom .box:nth-child(4){
    border: 3px solid red;

}

.intro .bottom .box:nth-child(1):hover{
    background: white;
    transform: scale(1.1);
    transition: 1.5s;
}
.intro .bottom .box:nth-child(2):hover{
    background: white;
    transform: scale(1.1);
    transition: 1.5s ease-out;
}
.intro .bottom .box:nth-child(3):hover{
    background: white;
    transform: scale(1.1);
    transition: 1.5s;
}
.intro .bottom .box:nth-child(4):hover{
    background: white;
    transform: scale(1.1);
    transition: 1.5s;
}

.triangle{
    background-color: #222;
    height: 500px;
    color: red;
    padding: 20px;
   


}

/* .daniel{
    background-color: yellow;
    height: 300px;
    width: 300px;
    margin: auto;
    /* clip-path: circle(50% at 100px 250px) */
    /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
    /* clip-path: circle(100px at 50% 50%); */
   
} 