body{
    /* background:linear-gradient(green,lightgray) ; */
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 0.4fr 1;
    grid-gap: 20px;
    
    
    grid-template-areas:
    "nav nav nav nav"
    "talk talk talk talk"
    "aside1 aside2 content content"
    "aside3 aside4 content content"
    "footer footer footer footer"
    ;
}

.talk{
    grid-area: talk;
    
    font-family: cursive;
    font-size: xx-large;
    color: white;
    background-color:tomato;
    font-weight: lighter;


}

.aside1{
    grid-area: aside1;
    
    
}
.aside2{
    grid-area: aside2;
    background-color:purple;
}
.aside3{
    grid-area: aside3;
    background-color:orange;
}
.aside4{
    grid-area: aside4;
    background-color: black;
}
.content{
    grid-area: content;
    background-color: wheat;
}
footer{
    grid-area: footer;
    background-color: rebeccapurple;
}
img{
    height: 100%;
    width: 100%;
}
.content{
    overflow-x:scroll ;
    
}
.content img{
    display: inline-block;
    height: 200px;
    width: 200px;
    
}

nav {
    grid-area: nav;
    background-color: white;
 }
 
 
 .header i{
     display: none;
 }
 
 
 .nav-links{
     flex: 1;
     text-align: center;
 }
 
 .nav-links ul li{
     list-style: none;
     display: inline-block;
     padding: 8px 12px;
     position: relative;
 }
 
 .nav-links ul li a {
     color: #8e0e1e;
     text-decoration: none;
     font-size: 20px;
     text-transform: uppercase;
     font-weight: bolder;
 }
 
 
 
 .nav-links ul li::after{
     content: " ";
     width: 0%;
     border: 2px solid blue;
     display: none;
     margin: auto;
     height: 2px;
     transition: 0.5s;
     background-color: #222;
 
 }
 
 .nav-links ul li:hover::after{
     content: " ";
     width: 100%;
     border: 2px solid whitesmoke;
     background-color: whitesmoke;
     display: block;
     margin: auto;
     height: 2px;
     transition: 0.5s;
 }

 
 
@media (max-width:480px){
    /* .container{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
        grid-template-areas:
        "nav nav"
        "talk talk"
        "aside1 aside2"
        "aside3 aside4"
        "content content"
        "content content"
        "content content"
        "content content"
        "footer footer"
        ;
    }
    
    .talk{
        font-size: smaller;
        
    }
    .content{
        overflow-x: scroll;
    } */
    .container{
        height: 400vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "nav"
        "talk"
        "aside1"
        "aside2"
        "aside3"
        "aside4"
        "content"
        "footer"
        
        ;
    }
    .content img{
        display: inline;
        width: 200px;
        height: 200px;
    }
    .talk{
        font-size: small;
    }

}